<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Ranker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://www.dafontfree.net/embed/c3VsdGFuLWJvbGQtc3VsdGFuLWJvbGQmZGF0YS80MS9zLzk3MDE2L1N1bHRhbiBib2xkLnR0Zg" rel="stylesheet" type="text/css"/>
</head>
<body class="noselect">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top ranker-navbar">
    <div class="container-fluid">
        <h3 class="navbar-title">Spotify Ranker</h3>
    </div>
  </nav>

<div class="ranker-body">
    <div class="left-container">
        <div class="songs-container shared">
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">HYAENA</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">THANK GOD</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">MODERN JAM (feat. Teezo Touchdown)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Teezo Touchdown</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">MY EYES</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">GOD'S COUNTRY</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">SIRENS</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">MELTDOWN (feat. Drake)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Drake</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">FE!N (feat. Playboi Carti)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Playboi Carti</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">DELRESTRO (ECHOES) (feat. Beyoncé)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Beyoncé</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">I KNOW ?</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">TOPIA TWINS (feat. Rob49 & 21 Savage)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Rob49, 21 Savage</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">CIRCUS MAXIMUS (feat. The Weeknd & Swae Lee)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, The Weeknd, Swae Lee</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">PARASAIL (feat. Yung Lean & Dave Chappelle)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Yung Lean, Dave Chappelle</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">SKITZO (feat. Young Thug)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Young Thug</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">LOST FOREVER (feat. Westside Gunn)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Westside Gunn</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">LOOOVE (feat. Kid Cudi)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Kid Cudi</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">K-POP (feat. Bad Bunny & The Weeknd)</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, Bad Bunny, The Weeknd</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">TELEKENESIS</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, SZA, Future</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
            <div class="list-song">
                <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/utopia.jpg') }}" class="list-song-img"></div>
                <div class="list-song-info">
                    <h3 class="list-song-title">TIL FURTHER NOTICE</h3>
                    <h4 class="list-song-break">|</h4>
                    <h6 class="list-song-artist">Travis Scott, 21 Savage, James Blake</h4>
                </div>
                <div class="list-song-lines-container"><img src="{{ url_for('static', filename='images/lines.png') }}" class="list-song-lines"></div>
            </div>
        </div>
        <div class="options-container">
            <div class="options-add">
                <h3>ADD ALL SONGS</h3>
            </div>
            <div class="options-remove">
                <h3>REMOVE ALL SONGS</h3>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="right-container-inner">
            <h1 class="list-title">UTOPIA</h1>
            <div class="list-container">
                <div class="list-number-container">
                    
                </div>
                <div class="list-song-container shared">
                </div>
                    <div class="list-song add">
                        <div class="list-song-img-container"><img src="{{ url_for('static', filename='images/plus-add.png') }}" class="list-song-img"></div>
                        <div class="list-song-info">
                            <h5 class="list-song-title">Drag songs from the left to add them to the list.</h5>
                        </div>
                    </div>
            </div>
            <div class="list-options">
                <div class="list-options-container">
                    <div class="list-options-save">
                        <h3>SAVE LIST</h3>
                    </div>
                </div>
                <div class="list-options-container">
                    <div class="list-options-load">
                        <h3>LOAD LIST</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/ranker.js') }}"></script>
</body>
</html>
